{% extends "admin/base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{{ title }} | {% trans 'Prepay site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href = "{% url 'index' %}">{% trans 'PrePay.' %}</a></h1>

<div id="nav">
    {% block nav %}		
		<a href="{% url 'browse_listings' %}">Browse Listings</a> &#149;
        <a href="{% url 'browse_product_requests' %}">Browse Product Requests</a> &#149;
		<a href="{% url 'admin:prepay_productrequest_add' %}">Request Product</a> &#149;
        <a href="{% url 'admin:index' %}">Admin</a> &#149;
        <a href="{% url 'about' %}">About</a>
	{% endblock %}
</div>

{% endblock %}

{% block nav-global %}{% endblock %}
