{% load admin_static %}{% load url from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>

{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}



<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
<link href="{{STATIC_URL}}bootstrap.css" rel="stylesheet">
<style>
  body {
    padding-bottom: 40px;
  }
</style>
<link href="{{STATIC_URL}}bootstrap-responsive.css" rel="stylesheet">
<link href="{{STATIC_URL}}docs.css" rel="stylesheet">
<link href="{{STATIC_URL}}prettify.css" rel="stylesheet">
<link href="{{STATIC_URL}}main.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Averia+Sans+Libre:400,700' rel='stylesheet' type='text/css'>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="branding">
        <div id="branding">
        {% block branding %}{% endblock %}
        
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->
<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}jquery.js"></script>
    <script src="{{STATIC_URL}}bootstrap-transition.js"></script>
    <script src="{{STATIC_URL}}bootstrap-alert.js"></script>
    <script src="{{STATIC_URL}}bootstrap-modal.js"></script>
    <script src="{{STATIC_URL}}bootstrap-dropdown.js"></script>
    <script src="{{STATIC_URL}}bootstrap-scrollspy.js"></script>
    <script src="{{STATIC_URL}}bootstrap-tab.js"></script>
    <script src="{{STATIC_URL}}bootstrap-tooltip.js"></script>
    <script src="{{STATIC_URL}}bootstrap-popover.js"></script>
    <script src="{{STATIC_URL}}bootstrap-button.js"></script>
    <script src="{{STATIC_URL}}bootstrap-collapse.js"></script>
    <script src="{{STATIC_URL}}bootstrap-carousel.js"></script>
    <script src="{{STATIC_URL}}bootstrap-typeahead.js"></script>
    	<script src="{{STATIC_URL}}bootstrap-affix.js"></script>
    <script src="{{STATIC_URL}}holder.js"></script>
    <script src="{{STATIC_URL}}prettify.js"></script>
    <script src="{{STATIC_URL}}application.js"></script>
</body>
</html>
