
{% load url from future %}

<html>
<head>
	<link href="{{STATIC_URL}}main.css" rel="stylesheet" type="text/css" />
	<script src="{{STATIC_URL}}jquery-1.9.1.min.js" type="text/javascript"></script>
	<title>{% block title %}PrePay{% endblock %}</title>
</head>
<body>
	
	
<div id="login">
	{% if login_flag %}
	Welcome, <a href="{% url 'profile' user.username %}"><b>{{user.username}}</b></a>.
	<a href="{% url 'admin:password_change' %}">Change password</a> / <a href="{% url 'auth_logout' %}">Log out</a>
	{% endif %}
</div>
<div id="header">
	{% block header %}
		<b>PrePay.</b>
	{% endblock %}	
</div>

<div id="nav">
	{% block nav %}
		{% if user.is_authenticated %}
            <a href="/browse_listings/">Browse Listings</a> &#149;
            <a href="/browse_product_requests">Browse Product Requests</a> &#149;
        {% endif %}

        {% if user.get_account_type == 'buyer' %}
            <a href="/admin/prepay/productrequest/add/">Request Product</a> &#149;
        {% endif %}
        {% if not user.is_authenticated %}
            <a href="/register">Register as Buyer or Seller</a> &#149; 
        {% endif %}
        <a href="/admin/">Admin</a> &#149;
        <a href="/about">About</a>
	{% endblock %}
</div>

<br clear="all"/>

<div id="content">
	{% block content %}
	{% endblock %}
</div>

<div id="footer">
	{% block footer %}
	Daniel Kim, Jennifer Lin, Lara Lu, Michael Mitchell, Abdul Zaheer
	{% endblock %}
</div>

</body>
