{% extends "prepay/base.html" %}

{% load url from future %}

{% block content %}

<h2>Browse Listings</h2>

 {% if filter = "all" %} <b>{% endif %} <a href="{% url 'filter' 'all' %}">All</a>  {% if filter = "all" %} </b> {% endif %}&#149;
 {% if filter = "biddable" %} <b>{% endif %}  <a href="{% url 'filter' 'biddable' %}">Biddable</a>  {% if filter = "biddable" %} </b>{% endif %}&#149;
 {% if filter = "bidclosed" %} <b>{% endif %} <a href="{% url 'filter' 'bidclosed' %}">Bidding closed</a>   {% if filter = "bidclosed" %} </b>{% endif %} &#149;
 {% if filter = "over" %} <b>{% endif %} <a href="{% url 'filter' 'over' %}">Over</a> {% if filter = "over" %} </b>{% endif %}
<br/>

<form action="" method="post">
		{% csrf_token %} 
        {{ form.as_table }} 
        <input type="submit" value="Search">
 </form>

 <form action="" method="get">
Sort by:
	<select name = 'sort' onChange = "this.form.submit();">
		<option value="" selected={{selected}}>---{{selected}}---</option>
		<option value="Date posted">Date posted</option>
		<option value="Seller">Seller</option>
		<option value="Price - low to high">Price - low to high</option>
		<option value="Price - high to low">Price - high to low</option>
		<option value="Status">Status</option>
		<option value="Deadline for bidding">Deadline for bidding</option>
	</select>
 </form>

{% if all_listings %}
	{% for listing in all_listings %}
	<table width="100%" style="border-style: solid; border-width: 1px; border-color: #ccc; border-radius: 5px;">
		<tr>
			<td width="150" valign="top" style="padding:10px;">
				<a href="{% url 'listing_detail' listing.pk %}">
					<img src="{{ listing.product.get_picture_url }}" width="150" align="left" style="border:none; padding:4px;"></a>
			</td>
			<td valign="top" style="padding-top:10px;padding-bottom:10px;font-size:14px;">
				<a href="{% url 'listing_detail' listing.pk %}">{{ listing.name }}</a><br/>
				{{ listing.description|truncatewords:40 }}<br/>
				<b>Product:</b> {{ listing.product.name }}<br/>
				<b>Price:</b> ${{listing.price}}<br/>
				<b>Status:</b> {{listing.status}} <br/>
				<b>Seller:</b> <a href="{% url 'profile' listing.product.seller.username %}">{{listing.product.seller.username}}</a> (rating = {{ listing.product.seller.rating }}/5)<br/>
				<b>Categories:</b> 
				{% for c in listing.product.categories.all %} 
					<a href="{% url 'browse_category' c.pk %}">{{ c.name }}</a>, 
				{% endfor %}<br/>
				<a href="{% url 'listing_detail' listing.pk %}">Listing Detail</a>
				<br/>
				{% if listing.status == 'Open for bidding' and isBuyer and not goalreached %}
					<form action = "{% url 'addtocart' listing.id %}" method = "get">
						{% csrf_token %}
						<input class = "button" type = "submit" value = "Add to cart"/>
					</form>
				{% endif %}
				</td></tr></table>
			</td>
		</tr>
	</table>
	<br clear="all"/>
	{% endfor %}
{% else %}
	<p>No Listings are available.</p>
{% endif %}

Categories:<br/>
{% for c in categories %}
<a href="{% url 'browse_category' c.id %}">{{c.name}}</a> <br/>
{% endfor %}

{% endblock %}




