{% extends "prepay/base.html" %}

{% load url from future %}
{% load prepay_tags %}

{% block content %}



<div class="container">
	<div class="searchbar row">
		<div class="span4">
			<form class="searchform" action="{% url 'browse_listings' %}search/" method="post">
					{% csrf_token %} 
						  {{ form.as_table}} 
						  <input class="btn btn-small" type="submit" value="Search">
			 </form>
		</div>
		<div class="span4 mainselection">
			<form class="searchform" action="" method="get">
			Sort by:
				<select name = 'sort' onChange = "this.form.submit();">
					<option value="" selected={{selected}}>{{selected}}</option>
					<option value="Date posted">Date posted</option>
					<option value="Seller">Seller</option>
					<option value="Price - lowest to highest">Price - lowest to highest</option>
					<option value="Price - highest to lowest">Price - highest to lowest</option>
					<option value="Status">Status</option>
					<option value="Deadline for bidding">Deadline for bidding</option>
				</select>
			 </form>
		</div>
	</div>

 {% if filter = "all" %} <b>{% endif %} <a href="{% url 'filter' 'all' %}">All</a>  {% if filter = "all" %} </b> {% endif %}&#149;
 {% if filter = "biddable" %} <b>{% endif %}  <a href="{% url 'filter' 'biddable' %}">On Sale</a>  {% if filter = "biddable" %} </b>{% endif %}&#149;
 {% if filter = "bidclosed" %} <b>{% endif %} <a href="{% url 'filter' 'bidclosed' %}">In Production</a>   {% if filter = "bidclosed" %} </b>{% endif %} &#149;
 {% if filter = "over" %} <b>{% endif %} <a href="{% url 'filter' 'over' %}">Completed</a> {% if filter = "over" %} </b>{% endif %}



{% if all_listings %}
	<div class="container-fluid">	
		{% for listing in all_listings %}	
       <div class="span4 ListingWrapper">
       	<table width="100%" style="border-style: solid; border-color: #ccc; border-radius: 5px;background-color:white;">
					<tr>			
						<a href="{% url 'listing_detail' listing.pk %}">
						<div class="ImageWrapper outerLink">
							<img src="{{ listing.product.get_picture_url }}" class="lightImage"  ></a>
						</div>
						<div class="container-fluid">
							<div class="listingTitle">
								<h3 ><a  href="{% url 'listing_detail' listing.pk %}">{{ listing.name }}</a></h3>
							</div>
							<ul class="productinfo">
								<li class="productdscpt"><p>"{{ listing.description|truncatewords:40 }}"</p></li>
								<li><p><b>Product:</b> {{ listing.product.name }}</p></li>
								<li><b><p>Price:</b> ${{listing.price}}</p></li>
								<li><b><p>Status:</b> {{listing.status}} </p></li>
								<li><b><p>Seller:</b> <a href="{% url 'profile' listing.product.seller.username %}">{{listing.product.seller.username}}</a> (rating = {{ listing.product.seller.rating }}/5)</p></li>
								<li><b><p>Categories:</b> 
									{% for c in listing.product.categories.all %} 
										<a href="{% url 'browse_category' c.pk %}">{{ c.name }}</a>, 
									{% endfor %}</p></li>
								<li><p><a class="btn" href="{% url 'listing_detail' listing.pk %}">Listing Detail</a></p></li>
								<li><p>
									{% if listing.status == 'Open for bidding' and not goalreached and isBuyer %}
										{% if not listing|is_in_cart:cart %}
											<form action = "{% url 'addtocart' listing.id %}" method = "get">
												{% csrf_token %}
												<input class = "btn" type = "submit" value = "Add to cart"/>
											</form>
										{% else %}
											<form action = "{% url 'removefromcart' listing.id %}" method = "get">
												{% csrf_token %}
												<input class = "btn" type = "submit" value = "Remove from cart"/>
											</form>	
										{% endif %}		
									{% endif %}</p>
								</li>						
							</ul>
						</div>
				</tr>		
			</table>
            </div><!--/span-->
            
	{% endfor %}
	</div>
	
{% else %}
	<p>No Listings are available.</p>
{% endif %}


{% endblock %}



