{% extends "prepay/base.html" %}
{% load prepay_tags %}

{% load url from future %}

{% block content %}

<h2>{{user.username}}'s shopping cart</h2>

{% if listings %}
	{% for listing in listings %}
		<a href="{% url 'listing_detail' listing.pk %}"><b>{{ listing.name }}</b></a><br/>
		<b>Listing Description:</b> {{ listing.description }}<br/>
		<b>Product Description:</b> {{ listing.product.description }}<br/>
		<b>Seller:</b> <a href="{% url 'profile' listing.product.seller.username %}">{{ listing.product.seller.username }}</a> (rating = {{ listing.product.seller.rating }}/5)<br/>
		<b>Bid Deadline:</b> {{listing.deadlineBid}}<br/>
		<b>Price:</b> ${{listing.price}}<br/>
		
		<table>
		<tr><td>
		<form action = "{% url 'removefromcart' listing.id %}" method = "get">
			{% csrf_token %}
			<input class = "button" type = "submit" value = "Remove from cart"/>
		</form>	
		</td><td>
		{% if listing.status == 'Open for bidding' and isBuyer and not goalreached %}
		<form action = "{% url 'checkout' listing.id %}" method = "get">
			{% csrf_token %}
			<input class = "button" type = "submit" value = "Pre-order"/>
		</form>
		{% endif %}	
		</td></tr>	
		</table>
				
	{% endfor %}

{% else %}
	Your cart is empty.  Please commission some stuff.
{% endif %}

{% endblock %}
