{% extends "prepay/base.html" %}

{% load url from future %}

{% block content %}

<h2>Checkout</h2>

{% if error %}
<p class="errmsg">You do not have enough credit to place this order!</p>
{% endif %}

{% if exceed %}
<p class="errmsg">The quantity you order will exceed the maximum goal of the listing. Please enter a quantity smaller or equal to {{exceed}}.</p>
{% endif %}

{% if missing %}
<p class="errmsg">Please enter a shipping address!</p>
{% endif %}

Buyer: {{user}}<br/>
Seller: {{listing.product.seller}}<br/>
Product: {{listing.name}}<br/>
Price: ${{listing.price}}<br/>
<form enctype="multipart/form-data" class="editprofileform" action = "" method = "post">
{% csrf_token %}
{{form.as_p}}

{{a_formset.management_form}}
{% for field in a_formset %}
	{{field.as_table}}<br/>	
{% endfor %}<br/>


<input class = "btn" type = "submit" value = "Confirm"/>
</form>
<br/><br/><br/>
<a href = "{% url 'listing_detail' listing.id %}">Cancel</a>

{% endblock %}
