{% extends "prepay/base.html" %}

{% load url from future %}
{% load prepay_tags %}

{% block content %}
<div class="container-fluid">

{% if listing %}
<div class="row">

	<table class="producttable">
		<tr>
			
			<td class="prodimgtd">
				<img src="{{ listing.product.get_picture_url }}">
			</td>
			<td class="proddetail">
				<div class="listingTitle"><h2>{{ listing.name }}</h2></div>
				<ul class="productinfo">
				{% if user.username == listing.product.seller.username %}
				{% if listing.status == "Open for bidding" or listing.status == "Maximum reached" or listing.status == "In Production" %}
					<form action = "{% url 'withdrawListing' listing.id %}" method = "get">
					{% csrf_token %}
					<input class = "btn" type = "submit" value = "Withdraw listing"/>
					</form>
				{% endif %}
				{% if listing.status == "In Production" %}
					<form action = "" method = "post">
					{% csrf_token %}
					<input class = "btn" type = "submit" name = "shipped" value = "Change status to 'Shipped'"/>
					</form>
				{% endif %}
				{% endif %}
					<li><p><b>Product</b>{{listing.product.name}}</p></li>
					<li><p><b>Seller:</b> <a href="{% url 'profile' listing.product.seller.username %}">{{ listing.product.seller.username }}</a> (rating = {{ listing.product.seller.rating }}/5)</p></li>
					<li><p><b>Categories:</b> 
									{% for c in listing.product.categories.all %} 
										<a href="{% url 'browse_category' c.pk %}">{{ c.name }}</a>, 
									{% endfor %}</p></li>
					<li><p><b>Created Date:</b> {{listing.created_at}}</p></li>
				{% if listing.date_closed %}
				<li><p><b>Date Closed:</b> {{listing.date_closed}}</p></li>
				{% elif listing.date_aborted %}
				<li><p><b>Date Aborted:</b> {{listing.date_aborted}}</p></li>
				{% elif listing.date_withdrawn %}
				<li><p><b>Date Withdrawn:</b> {{listing.date_withdrawn}}</p></li>
				{% endif %}
					<li><p><b>Price:</b> ${{listing.price}}</p></li>
					<table>
					<tr>
						<td>
						{% if listing.status == 'Open for bidding' and isBuyer and not goalreached %}
							<form action = "{% url 'checkout' listing.id %}" method = "get">
								{% csrf_token %}
								<input class = "btn" type = "submit" value = "Pre-order"/>
							</form>
						</td>
						<td>	
							{% if not listing|is_in_cart:cart %}
							<form action = "{% url 'addtocart' listing.id %}" method = "get">
								{% csrf_token %}
								<input class = "btn" type = "submit" value = "Add to cart"/>
							</form>
							{% else %}
							<form action = "{% url 'removefromcart' listing.id %}" method = "get">
								{% csrf_token %}
								<input class = "btn" type = "submit" value = "Remove from cart"/>
							</form>	
							{% endif %}
						{% endif %}
						</td>
					</tr>
				</table>
					<li><p><b>Status:</b> {{listing.status}}</p></li>
					<li><p><b>Minimum goal:</b> {{listing.minGoal}}</p></li>
					<li><p><b>Maximum goal:</b> {{listing.maxGoal}}</p></li>
					<li><p><b>Current number of bidders:</b> {{listing.numBidders}}
					{% if listing.product.seller.username = user.username %}
					<a href = "{% url 'orders' listing.id %}">View current orders</a><br/>
					{% endif %}</p></li>
					<li><p><b>Deadline for bidding:</b> {{listing.deadlineBid}}</p></li>
					<li><p><b>Deadline for delivery:</b> {{listing.deadlineDeliver}}</p></li>
					<li><p><b>Product Description:</b> {{ listing.product.description }}</p></li>
					<li><p><b>Details:</b> {{ listing.description }}</p></li>
				</ul>
				
			</td>
			
		</tr>
		
		
	</table>	
</div>

	<div class="comment"><h2>Comments</h2></div>
	{% if listing.listing_comment_set.all %}
		{% for co in listing.listing_comment_set.all %}
		<table class="commenttable">
			<tr>
				<td style="padding:0.8em;font-size:1em;">
					{{co.comment}}&nbsp; &nbsp; &nbsp; &nbsp;<i>- {{co.rating}} stars -</i><br/>
					{% if co.image %}
						<img class="commentimg" src="{{MEDIA_URL}}{{co.image}}" style="border:none;padding-top:5px;"><br/>
					{% endif %}	
				
				<br/><i>&mdash; {{co.commenter.username}}, {{co.date}}</i><br/>
				</td>

			</tr>
		</table>
		<br clear="all" />
		{% endfor %}
	{% else %}
		<p> No comments available. </p>
	{% endif %}


	{% if login_flag %}
	<div class="comment"><h2>Leave a comment!</h2></div>
	<form class="commentform" enctype="multipart/form-data" action = "" method = "post">
		{% csrf_token %}
		{{form.as_p}}
		<input class="btn" type = "submit" value = "Submit Comment">
	</form>
	{% else %}
		<a href="{% url 'index' %}">Login to comment!</a>
	{% endif %}

{% else %}
	Hmm... We cannot find the listing.
{% endif %}
	</div>

{% endblock %}

