{% extends "prepay/base.html" %}

{% load url from future %}

{% block content %}

<h2>Detailed view of a listing</h2>

{% if listing %}
	<table>
		<tr>
			<td valign="top">
				<img src="{{ listing.product.get_picture_url }}" width="200" style="border:none; padding-right:8px; float:left;">
			</td>
			<td>
				<b>Listing Name:</b> {{ listing.name }}</span><br/>
				<b>Listing Description:</b> {{ listing.description }}<br/>
				<b>Product Description:</b> {{ listing.product.description }}<br/>
				<b>Seller:</b> <a href="{% url 'profile' listing.seller.username %}">{{ listing.seller.username }}</a> (rating = {{ listing.seller.rating }}/5)<br/>
				<b>Categories:</b> {% for c in listing.product.categories.all %} {{ c.name }}, {% endfor %}<br/>
				<b>Created Date:</b> {{listing.created_at}}<br/>
				<b>Price:</b> ${{listing.price}}<br/>
				<form action = "{% url 'checkout' listing.id %}" method = "get">
				{% csrf_token %}
				<input class = "button" type = "submit" value = "Pre-order"/>
				</form>
				<b>Status:</b> {{listing.status}}<br/>
				<b>Minimum goal:</b> {{listing.minGoal}}<br/>
				<b>Maximum goal:</b> {{listing.maxGoal}}<br/>
				<b>Current number of bidders:</b> {{listing.numBidders}}<br/>
				<b>Deadline for bidding:</b> {{listing.deadlineBid}}<br/>
				<b>Deadline for delivery:</b> {{listing.deadlineDeliver}}<br/>
			</td>
		</tr>
	</table>	


	{% if listing.listing_comment_set.all %}
		{% for co in listing.listing_comment_set.all %}
			Commenter: {{co.commenter.username}}<br/>
			Date: {{co.date}}<br/>
			Rating: {{co.rating}}/5<br/>
			Comment: {{co.comment}}<br/>
			
			{% if co.image %}
				<img src="{{MEDIA_URL}}{{co.image}}">
			{% endif %}
			<hr>
		<br/>
		{% endfor %}
	{% else %}
		<p> No comments available. </p>
	{% endif %}

	{% if login_flag %}
	<p>Leave a comment!</p>
	<form enctype="multipart/form-data" action = "" method = "post">
		{% csrf_token %}
		{{form.as_p}}
		<input type = "submit" value = "Submit Comment">
	</form>
	{% else %}
		<a href="{% url 'index' %}">Login to comment!</a>
	{% endif %}

{% else %}
	hmm... we seem not to find that listing
{% endif %}


{% endblock %}

