{% extends "prepay/base.html" %}

{% load url from future %}

{% block content %}

<!-- p><a href ="/user/{{user.username}}">Back to profile</a></p -->
<p><a href = "{% url 'profile' user.username %}">Back to profile</a></p>

{% if error %}
  <p>Please check over your changes.</p>
{% endif %}

<h1>Edit your Profile!</h1>

<form class="editprofileform" enctype="multipart/form-data" method="post" action="">
{% csrf_token %}
{{form.as_p}}
<b>Addresses:</b><br/>
{{s_formset.management_form}}
{% for field in s_formset %}
	{{field.as_p}}<br/>	
--------------------------------------------------<br/>
{% endfor %}<br/>
<b>Phone Numbers</b></br>	
{{p_formset.management_form}}
{% for field in p_formset %}
	{{field.as_table}}<br/>	
--------------------------------------------------<br/>
{% endfor %}<br/>
<b>Instant Messenger:</b><br>
{{i_formset.management_form}}
{% for field in i_formset %}
	{{field.as_table}}<br/>	
--------------------------------------------------<br/>
{% endfor %}<br/>
<b>Websites:</b><br/>
{{w_formset.management_form}}
{% for field in w_formset %}
	{{field.as_table}}<br/>	
--------------------------------------------------<br/>
{% endfor %}<br/>
<input  class="btn" type = "submit" value = "Save changes">
</form>


{% endblock %}



