{% extends "prepay/base.html" %}
{% load url from future %}

{% block content %}


<div class="jumbotron masthead">
  <div class="container">
    <h1>Prepay</h1>
    <p>An interactive marketplace where imagination forms, grows, and comes true.</p>
    <p>
      <a href="{% url 'browse_listings' %}" class="btn btn-primary btn-large" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.3.1']);">Imagine Now</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="https://github.com/mitchgt/prepay" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);">GitHub project</a>
      </li>
      
      
      <li>
        Version 0.1.1
      </li>
    </ul>
  </div>
</div>
{% endblock %}



