{% extends "prepay/base.html" %}

{% load url from future %}

{% block content %}

<h2>Buyer Profile</h2>

{% if mine %}
<div style="font-size: 13px; background-color:white; width:200px; padding:5px; border-style: solid; border-width: 1px; border-color: #ccc; border-radius: 5px;">
<a href= "{% url 'admin:password_change' %}">Change your password?</a><br/>
<a href = "{% url 'edit_profile' user.username %}">Edit your profile?</a><br/>
</div>
<br clear="all"/>
{% endif %}

{% if theuser.photo %}
  <img src="{{theuser.photo}}"><br/>
{% endif %}
<b>Name:</b>
{% if theuser.last_name or theuser.first_name %}
{{theuser.title}} {{theuser.first_name}} {{theuser.middle_name}} {{theuser.last_name}} {{theuser.suffix}}
{% endif %}<br/>
{% if theuser.nickname %}
<b>Nickname:</b> {{theuser.nickname}}<br/>
{% endif %}
<b>Rating:</b> {{theuser.rating}}<br/>
<b>Username:</b> {{theuser.username}}<br/>
{% if mine %}
<b>Balance:</b> 
{% for ba in theuser.bankaccount_set.all %}
${{ba.balance}}
{% endfor %}<br/>
{% endif %}
<b>Email:</b> {{theuser.email}}<br/>
{% if theuser.phone_number.all %}
<b>Phone number:</b>
{% for item in theuser.phone_number.all %}
  {{item}}<br/>
{% endfor %}{% endif %}
{% if theuser.street_address.all %}
<b>Street Address:</b>
{% for item in theuser.street_address.all %}
  {{item}}<br/>
{% endfor %}{% endif %}
{% if theuser.instant_messenger.all %}
<b>Instant messenger:</b>
{% for item in theuser.instant_messenger.all %}
  {{item}}<br/>
{% endfor %}{% endif %}
{% if theuser.web_site.all %}
<b>Website:</b>
{% for item in theuser.web_site.all %}
  {{item}}<br/>
{% endfor %}{% endif %}

{% if theuser.about %}
<b>About me:</b>
  {{theuser.about}}<br/>
{% endif %}

<br/>
<b>Orders:</b> 
<br/><br/>
{% for order in theuser.order_set.all %}
	<b>Product:</b> {{order.listing.name}}<br/>
	<b>Price:</b> {{order.listing.price}}<br/>
	<b>Seller:</b> {{order.listing.product.seller}}<br/>
	<b>Status:</b> {{order.status}}<br/>
	<b>Date ordered:</b> {{order.date_added}}<br/>
	<b>Shipping address:</b> 
	{% for ship in order.shipping_address.all %}
	{{ship}}
	{% endfor %}<br/>
	{% if mine and order.status == "Ongoing" %}
	<form action = "{% url 'withdraw' order.id %}" method = "get">
	{% csrf_token %}
	<input class = "button" type = "submit" value = "Withdraw"/>
	</form>
	{% endif %}
{% endfor %}




{% endblock %}
