{% extends "prepay/base.html" %}

{% load url from future %}

{% block content %}

<h2>Buyer Profile</h2>
{% if mine %}
<p><a href = "{% url 'edit_profile' user.username %}">Edit?</a><p>
{% endif %}

{% if user.photo %}
  <img src="{{user.photo}}"><br/>
{% endif %}
Name:
{% if user.last_name or user.first_name %}
{{user.title}} {{user.first_name}} {{user.middle_name}} {{user.last_name}} {{user.suffix}}
{% endif %}<br/>
{% if user.nickname %}
Nickname: {{user.nickname}}<br/>
{% endif %}
Rating: {{user.rating}}<br/>
Username: {{user.username}}<br/>
{% if mine %}
Password: <a href= "{% url 'admin:password_change' %}">Change password?</a><br/>
{% endif %}
Email: {{user.email}}<br/>
{% if user.phone_number.all %}
Phone number:
{% for item in user.phone_number.all %}
  {{item}}<br/>
{% endfor %}{% endif %}
{% if user.street_address.all %}
Street Address:
{% for item in user.street_address.all %}
  {{item}}<br/>
{% endfor %}{% endif %}
{% if user.instant_messenger.all %}
Instant messenger:
{% for item in user.instant_messenger.all %}
  {{item}}<br/>
{% endfor %}{% endif %}
{% if user.web_site.all %}
Website:
{% for item in user.web_site.all %}
  {{item}}<br/>
{% endfor %}{% endif %}
Requests: <br/>
{% if mine %}
<!-- a href = "/admin/prepay/productrequest/add/">Add a new request?</a><br/ -->
<a href = "{% url 'admin:prepay_productrequest_add' %}">Add a new request?</a><br/>
{% endif %}
{% if user.about %}
About me:
  {{user.about}}<br/>
{% endif %}
{% endblock %}
