{% extends "prepay/base.html" %}

{% load url from future %}

{% block content %}

<h2>Seller Profile</h2>
{% if mine %}
<p><a href = "{% url 'edit_profile' user.username %}">Edit?</a><p>
{% endif %}

{% if theuser.photo %}
    <img src="{{ theuser.get_picture_url }}" width="150" align="left" style="border:none; padding-right:8px;">
    <br/>
{% endif %}
Name:
{% if theuser.last_name or theuser.first_name %}
{{theuser.title}} {{theuser.first_name}} {{theuser.middle_name}} {{theuser.last_name}} {{theuser.suffix}}
{% endif %}<br/>
{% if theuser.nickname %}
Nickname: {{theuser.nickname}}<br/>
{% endif %}
Rating: {{theuser.rating}}<br/>
Username: {{theuser.username}}<br/>
{% if mine %}
Password: <a href= "{% url 'admin:password_change' %}">Change password?</a><br/>
Balance: 
{% for ba in theuser.bankaccount_set.all %}
{{ba.balance}}
{% endfor %}<br/>
{% endif %}
Email: {{theuser.email}}<br/>
{% if theuser.phone_number.all %}
Phone number:
{% for item in theuser.phone_number.all %}
    {{item}}<br/>
{% endfor %}{% endif %}
{% if theuser.street_address.all %}
Street Address:
{% for item in theuser.street_address.all %}
    {{item}}<br/>
{% endfor %}{% endif %}
{% if theuser.instant_messenger.all %}
Instant messenger:
{% for item in theuser.instant_messenger.all %}
    {{item}}<br/>
{% endfor %}{% endif %}
{% if theuser.web_site.all %}
Website:
{% for item in theuser.web_site.all %}
    {{item}}<br/>
{% endfor %}{% endif %}
Products: 
{% for l in listings %}
    <a href = "{% url 'listing_detail' l.id %}">{{ l.product.name }}</a>,
{% empty %}
    No products!
{% endfor %}
<br/>
{% if mine %}
<!-- http://mitchgt.com/prepay/admin/prepay/listing/add/ -->
<a href = "{% url 'admin:prepay_product_add' %}">Add a new product and listing?</a><br/>
{% endif %}

<!--Listings: {{listings}}<br/>-->
{% comment %}
<!--<a href = "{% url 'admin:prepay_listing_add' %}">Create a new listing?</a><br/>-->
{% endcomment %}

{% if theuser.about %}
About me:
    {{theuser.about}}<br/>
{% endif %}

{% endblock %}